In [12]:
import pandas as pd
import numpy as np

fuel = pd.read_csv("D:/Projekty vs/Python/Pliki do pracy/course-files/course-files/fuel.csv",low_memory=False,index_col="Vehicle ID" ,usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [13]:
fuel.tail(2)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [14]:
fuel.head(3)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0