In [2]:
import pandas as pd
import numpy as np

fuel = pd.read_csv("D:/Projekty vs/Python/Pliki do pracy/course-files/course-files/fuel.csv",low_memory=False,index_col="Vehicle ID" ,usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [13]:
fuel.tail(2)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0
32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [14]:
fuel.head(3)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0

ĆWICZENIA NR 2

In [15]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [16]:
fuel.dtypes

Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [18]:
fuel.dtypes.value_counts()

object     4
int64      1
float64    1
Name: count, dtype: int64

In [28]:
fuel["Make"].value_counts().head(5)

Make
Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: count, dtype: int64

In [27]:
fuel["Make"].count()

np.int64(31684)

In [20]:
fuel.index

Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593, 28455,
       ...
       31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064, 32106],
      dtype='int64', name='Vehicle ID', length=31684)

In [21]:
fuel.columns

Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')

In [22]:
fuel.values

array([[1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'GT V6 2.5', 'Minicompact Cars', 'Regular',
        20.0],
       [1984, 'Alfa Romeo', 'Spider Veloce 2000', 'Two Seaters',
        'Regular', 21.0],
       ...,
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubishi', 'Lancer Evolution', 'Compact Cars',
        'Premium', 19.0],
       [2012, 'Mitsubish', nan, nan, nan, nan]], dtype=object)

In [23]:
fuel.axes

[Index([26587, 27705, 26561, 27681, 27550, 28426, 27549, 28425, 27593, 28455,
        ...
        31673, 32062, 32059, 32061, 32058, 32060, 32063, 32065, 32064, 32106],
       dtype='int64', name='Vehicle ID', length=31684),
 Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')]

In [24]:
fuel.shape

(31684, 6)

In [25]:
fuel.count()

Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [26]:
len(fuel)

31684

ĆWICZENIA 3

In [30]:
fuel["Make"].head(3)

Vehicle ID
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
Name: Make, dtype: object

In [32]:
fuel["Make"].value_counts().head(5)

Make
Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: count, dtype: int64

In [33]:
fuel.loc[1873]

Year                             1986
Make                       Mitsubishi
Model                         Starion
Class                 Subcompact Cars
Fuel Type                     Premium
Combined MPG (FT1)               19.0
Name: 1873, dtype: object

In [34]:
fuel.loc[1873,"Combined MPG (FT1)"]

np.float64(19.0)

In [36]:
fuel["Combined MPG (FT1)"].max()

112.0

In [39]:
fuel["Combined MPG (FT1)"].idxmax()

np.int64(31673)

In [41]:
fuel.loc[31673]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)              112.0
Name: 31673, dtype: object

In [46]:
fuel.loc[fuel["Combined MPG (FT1)"].idxmax()]

Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)              112.0
Name: 31673, dtype: object

ĆWICZENIA 4

In [67]:
#fuel["liters per 100 km"] = fuel["Combined MPG (FT1)"] * 1.6 / 3.78
fuel.insert(0, "liters per 100 km", fuel["Combined MPG (FT1)"] * 1.6 / 3.78)

In [70]:
fuel.head(5)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [69]:
fuel.drop(columns="liters per 100 km", inplace=True)
fuel.head(5)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

ĆWICZENIA 5

In [16]:
paliwo = fuel.copy()
paliwo.loc[27705,"Class"] = np.nan
paliwo.loc[26561,'Class'] = np.nan
paliwo.loc[27550,"Fuel Type"] = np.nan

In [8]:
paliwo.head(5)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [10]:
paliwo.dropna().head(5)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

In [11]:
paliwo.dropna(axis=1).head(5)

            Year        Make
Vehicle ID
26587       1984  Alfa Romeo
27705       1984  Alfa Romeo
26561       1984  Alfa Romeo
27681       1984  Alfa Romeo
27550       1984  AM General

In [14]:
paliwo.dropna(axis=0,inplace=True)

In [15]:
paliwo.head(5)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

ĆWICZENIA 6

In [18]:
paliwo.loc[27705, 'Class'] = np.nan
paliwo.loc[26561, 'Class'] = np.nan
paliwo.loc[27550, 'Fuel Type'] = np.nan
paliwo.loc[27705, 'Combined MPG (FT1)'] = np.nan
paliwo.loc[27681, 'Combined MPG (FT1)'] = np.nan

In [34]:
replace_rules = {
    "Class" : "---",
    "Fuel Type" : "---",
    "Combined MPG (FT1)"  : -1
}

In [36]:
paliwo.fillna(replace_rules).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,---,Regular,-1.0
26561,1984,Alfa Romeo,Spider Veloce 2000,---,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,-1.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,---,17.0

In [37]:
paliwo.fillna(-1).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,-1,Regular,-1.0
26561,1984,Alfa Romeo,Spider Veloce 2000,-1,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,-1.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,-1,17.0

In [38]:
srednia = paliwo["Combined MPG (FT1)"].mean()

In [40]:
paliwo["Class"].fillna("?").head()

Vehicle ID
26587               Minicompact Cars
27705                              ?
26561                              ?
27681                    Two Seaters
27550    Special Purpose Vehicle 2WD
Name: Class, dtype: object

In [45]:
paliwo["Class"].ffill().head()

Vehicle ID
26587               Minicompact Cars
27705               Minicompact Cars
26561               Minicompact Cars
27681                    Two Seaters
27550    Special Purpose Vehicle 2WD
Name: Class, dtype: object