ESC - wejscie do trybu dev <br>
B - 1 pusta linijka pod bieżącą ramką  &emsp; &emsp;  A - -||- nad <br>
DD - usun bieżącą linijke  <br> 
M - markdown # czyli taki tekst po prostu  &emsp;&emsp;  Y - znowu kod <br>
Shif + enter - wykonuje bieżącą linijke <br>
X - wytnij  &emsp;&emsp;   V - wklej <br>
SHIFT + M - scal komorki <br>
CTRL SHIFT + "-"  - rozdziel komórki <br>
O - output  &emsp;&emsp;   L - daj linijkom numer <br>
SHIFT + L - daj wszystkim <br>
CTRL + SHIFT + F - Menu opcji <br>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math as math
%matplotlib inline 
# To sprawia ze wykresy sa w notebooku

In [2]:
pokemony_pandas = pd.read_csv('D:\Projekty vs\Python\Pliki do pracy\course-files\course-files\pokemon.csv')
cities = ['Warszawa', 'Kraków', 'Wrocław', 'Poznań', 'Gdańsk', 'Łódź', 'Szczecin', 'Bydgoszcz', 'Lublin', 'Katowice']
slownik = {'seia3': "bmw", "q7": "audi", "c63": "mercedes", "m3": "bmw", "gti": "volkswagen", "mustang": "ford", "camaro": "chevrolet", "911": "porsche", "ferrari": "ferrari", "lamborghini": "lamborghini"}
liczby = list(range(1,101))
losowe_liczby = np.random.randint(1,10000,size=100)
Waluty  = ["PLN","EU","USD","GPD","RUB"]
Kraje = ["Polska","Europa","USA","Wielka Brytania","Rosja"]
indeksy = ["a","b","c","d","e","x","x"]
wartosci = ["Australia","Brazylia","Chiny","Dania","Egipt","xoxo","no to tyle"]
alfabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
oceny = [5, 4, 3, 2, 1, 5, 4, 3, 2, 1]
uczniowie = ['Jan', 'Anna', 'Piotr', 'Katarzyna', 'Michał', 'Ewa', 'Tomasz', 'Magdalena', 'Krzysztof', 'Agnieszka']

uczniowie_pandas = pd.Series(index=uczniowie, data=oceny, dtype='int8')
oceny_liczbowe = pd.Series(data=['c','b','a','a+','a++'], index=[1,2,3,4,5])

seria_ciag_znakow = pd.Series(alfabet, dtype='string')
pokemony_pandas_seria = pd.read_csv('D:\Projekty vs\Python\Pliki do pracy\course-files\course-files\pokemon.csv',usecols=["Name","Type 2"],index_col="Name").squeeze()
seria_z_slownika = pd.Series(list(slownik.keys()),dtype='string',index=list(slownik.values()))
seria = pd.Series(cities,dtype='string')
seria_liczby = pd.Series(liczby,dtype='int8')
seria_losowe_liczby = pd.Series(losowe_liczby,dtype='int16')
seria_waluty_Swiata = pd.Series(index=Waluty, data=Kraje, dtype='string')
seria_alfabet = pd.Series(index=indeksy, data=wartosci, dtype='string')

In [3]:
print(seria,"\n")
print(seria_z_slownika)
print(seria_z_slownika["bmw"])
print(seria_z_slownika.is_unique)
print(seria_z_slownika.index)
print(seria_z_slownika.values)

0     Warszawa
1       Kraków
2      Wrocław
3       Poznań
4       Gdańsk
5         Łódź
6     Szczecin
7    Bydgoszcz
8       Lublin
9     Katowice
dtype: string

bmw                  seia3
audi                    q7
mercedes               c63
bmw                     m3
volkswagen             gti
ford               mustang
chevrolet           camaro
porsche                911
ferrari            ferrari
lamborghini    lamborghini
dtype: string
bmw    seia3
bmw       m3
dtype: string
True
Index(['bmw', 'audi', 'mercedes', 'bmw', 'volkswagen', 'ford', 'chevrolet',
       'porsche', 'ferrari', 'lamborghini'],
      dtype='object')
<StringArray>
[      'seia3',          'q7',         'c63',          'm3',         'gti',
     'mustang',      'camaro',         '911',     'ferrari', 'lamborghini']
Length: 10, dtype: string

In [4]:
print(seria_liczby)
print("Seria liczby używanie rozmiaru w senise lengh ",seria_liczby.size)
print("Seria liczby używanie rozmiaru w sensie rozmiar w bajtach ",seria_liczby.nbytes) 
print("Seria liczby rzeczywisty rozmiar ",seria_liczby.memory_usage())
print("Seria Pokemony używanie calej pamieci ",pokemony_pandas.memory_usage(deep=True).sum())
print("Seria liczby czy jest ona monotoniczna rosnąca ",seria_liczby.is_monotonic_increasing)
print("Seria liczby rodzaj danych przechowywanych ",seria_liczby.dtype)
print("Seria pokemony rodzaj danych przechowywanych ",pokemony_pandas.dtypes)

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: int8
Seria liczby używanie rozmiaru w senise lengh  100
Seria liczby używanie rozmiaru w sensie rozmiar w bajtach  100
Seria liczby rzeczywisty rozmiar  232
Seria Pokemony używanie calej pamieci  199393
Seria liczby czy jest ona monotoniczna rosnąca  True
Seria liczby rodzaj danych przechowywanych  int8
Seria pokemony rodzaj danych przechowywanych  #              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [5]:
print("Pokemony ksztalt",pokemony_pandas.shape)
print("Seria liczby ksztalt",seria_liczby.shape)
print("Pokemaony axist",pokemony_pandas.axes)
print("Seria liczby axist",seria_liczby.axes)

Pokemony ksztalt (800, 13)
Seria liczby ksztalt (100,)
Pokemaony axist [RangeIndex(start=0, stop=800, step=1), Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')]
Seria liczby axist [RangeIndex(start=0, stop=100, step=1)]

In [6]:
print("Seria losowe liczby",seria_losowe_liczby)
print("Seria losowe liczby suma",seria_losowe_liczby.sum())
print("Seria losowe liczby min",seria_losowe_liczby.min())
print("Seria losowe liczby max",seria_losowe_liczby.max())
print("Seria losowe liczby mean",seria_losowe_liczby.mean())
print("Seria losowe liczby rozmiar mozna okreslic za pomoca atrybutu size oraz cout() ",seria_losowe_liczby.size," = ",
      seria_losowe_liczby.count())
print("Seria konwersja do listy")
lista_losowe_liczby = seria_losowe_liczby.tolist()
print(lista_losowe_liczby)

Seria losowe liczby 0     9826
1     2080
2     9273
3     7652
4      691
      ...
95    4577
96    3022
97    7557
98    4831
99    6978
Length: 100, dtype: int16
Seria losowe liczby suma 520827
Seria losowe liczby min 242
Seria losowe liczby max 9993
Seria losowe liczby mean 5208.27
Seria losowe liczby rozmiar mozna okreslic za pomoca atrybutu size oraz cout()  100  =  100
Seria konwersja do listy
[9826, 2080, 9273, 7652, 691, 9528, 2388, 2705, 6642, 1926, 9104, 5439, 5166, 2047, 5047, 8803, 242, 9527, 9637, 1676, 4776, 6843, 806, 9993, 1227, 8417, 6571, 6673, 9198, 8147, 6151, 6589, 7944, 1587, 292, 1959, 9534, 3913, 2384, 7898, 8247, 9630, 5267, 4045, 346, 5489, 3172, 1362, 9934, 6739, 6766, 908, 4661, 8212, 1762, 2110, 8003, 7237, 1805, 8017, 1805, 9043, 6338, 1361, 3330, 327, 6905, 4824, 5749, 1820, 3316, 5918, 4689, 7522, 405, 8076, 1375, 7894, 3090, 7317, 917, 1860, 7315, 2210, 7909, 9658, 7552, 3617, 8359, 9957, 2145, 5231, 5005, 2211, 4799, 4577, 3022, 7557, 4831, 6978]

In [7]:
print("Seria waluty swiata \n", seria_waluty_Swiata)

Seria waluty swiata
 PLN             Polska
EU              Europa
USD                USA
GPD    Wielka Brytania
RUB              Rosja
dtype: string

In [8]:
print("Pokazanie wynikow seri liczby tylko wiekszych od 90 dowma sposobami \n",seria_liczby.where(seria_liczby > 90 )) # filtruje serie i zwraca tylko te wartosci ktore sa wieksze niz 90
print("\n",seria_liczby[seria_liczby > 90],"\nWarto zworcic uwage na to ,iż użycie atrybutu where zwaraca wszystko ,\n nawet nie zgodne wyniki jako NaN a zwykla lista tylko te ,które nam pasują") # filtruje serie i zwraca tylko te wartosci ktore sa wieksze niz 90
# Jeśli chcemy pozbyć się NaN to możemy użyć metody dropna()
print("Seria liczby bez NaN \n",seria_liczby.where(seria_liczby > 90 ).dropna()) # filtruje serie i zwraca tylko te wartosci ktore sa wieksze niz 90 i usuwa NaN
print()
print("Możemy też wyciągnąć wartości po indeksie \n", seria_liczby.filter(items=[0, 1, 2, 3, 4, 5])) # filtruje serie i zwraca tylko te wartosci ktore sa na indeksach 0,1,2,3,4,5

print("Filtorwanie wartosci mniejszych od 10 i wiekszych od 15")
mniejsze_od_10 = seria_liczby < 10
wieksze_od_15 = seria_liczby > 15
print(seria_liczby.where(mniejsze_od_10 & wieksze_od_15).dropna()) # filtruje serie i zwraca tylko te wartosci ktore sa mniejsze niz 10 lub wieksze niz 15oo

Pokazanie wynikow seri liczby tylko wiekszych od 90 dowma sposobami
 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
      ...
95     96.0
96     97.0
97     98.0
98     99.0
99    100.0
Length: 100, dtype: float64

 90     91
91     92
92     93
93     94
94     95
95     96
96     97
97     98
98     99
99    100
dtype: int8
Warto zworcic uwage na to ,iż użycie atrybutu where zwaraca wszystko ,
 nawet nie zgodne wyniki jako NaN a zwykla lista tylko te ,które nam pasują
Seria liczby bez NaN
 90     91.0
91     92.0
92     93.0
93     94.0
94     95.0
95     96.0
96     97.0
97     98.0
98     99.0
99    100.0
dtype: float64

Możemy też wyciągnąć wartości po indeksie
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int8
Filtorwanie wartosci mniejszych od 10 i wiekszych od 15
Series([], dtype: float64)

In [9]:
print("Pokemony jako seria \n", pokemony_pandas_seria.head(5))
print("Pokemony seria ogonki \n", pokemony_pandas_seria.tail(5)) # pokazuje ostatnie 10 wierszy serii
print("Posortowanie serii pokemony \n", pokemony_pandas_seria.sort_values().head(5)) # sortuje serie
print("Sprawdzenie czy w serii pokemony znajduje sie Pikachu \n",pokemony_pandas_seria[pokemony_pandas_seria.isin(['Pikachu'])]) # sprawdza czy w serii znajduje sie Pikachu
print(pokemony_pandas_seria.value_counts().head())

Pokemony jako seria
 Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
Name: Type 2, dtype: object
Pokemony seria ogonki
 Name
Diancie                Fairy
DiancieMega Diancie    Fairy
HoopaHoopa Confined    Ghost
HoopaHoopa Unbound      Dark
Volcanion              Water
Name: Type 2, dtype: object
Posortowanie serii pokemony
 Name
Armaldo     Bug
Anorith     Bug
Skorupi     Bug
Shiftry    Dark
Drapion    Dark
Name: Type 2, dtype: object
Sprawdzenie czy w serii pokemony znajduje sie Pikachu
 Series([], Name: Type 2, dtype: object)
Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Name: count, dtype: int64

In [10]:
# UWAGA! w teori at i iat powinny byc tylko dla 1 elementu , a loc i iloc dla wielu elementów, ale w praktyce at i iat działają też dla wielu elementów
# To może jest błąd

print(seria_alfabet["a"])
#print(seria_alfabet[1]) Błąd ponieważ seria_alfabet nie ma indeksu 1 tylko a,b,c,d,e
print(seria_alfabet.get("a")) # zwraca wartosc dla klucza a
print(seria_alfabet.get("f", "Nie ma takiego klucza")) # zwraca wartosc dla klucza f lub komunikat o braku klucza , po prostu nie wyrzuca błędu
print(seria_alfabet.get("x"))

print(seria_alfabet.at["b"])
print("Test ",seria_alfabet.at["x"]) # zwraca wartosc dla klucza x
#print(seria_alfabet.at[1])  Błąd ponieważ seria_alfabet nie ma indeksu 1 tylko a,b,c,d,e
#print(seria_alfabet.at["z"])  Błąd ponieważ seria_alfabet nie ma indeksu z
print("Test1 ",seria_alfabet.iat[1]) # zwraca wartosc dla indeksu 1 Ogolnie at i iat są szybsze niż get, ale nie sprawdzają czy klucz istnieje, więc mogą wyrzucić błąd a po zatym 
#iat wyrzuca błąd jeśli indeks nie istnieje ablo jest ich kilka

print(seria_alfabet.loc["x"])

Australia
Australia
Nie ma takiego klucza
x          xoxo
x    no to tyle
dtype: string
Brazylia
Test  x          xoxo
x    no to tyle
dtype: string
Test1  Brazylia
x          xoxo
x    no to tyle
dtype: string

In [11]:
mala_seria = pd.Series(["a",'b','c']) # zwraca pierwsze 5 elementów serii
seria_ciag_znakow
print("Seria ciag znakow \n", seria_ciag_znakow)
print("Seria ze zmienionymi indeksami a bardziej dodany 1 dodoatkowy \n",seria_ciag_znakow.reindex(np.arange(0, 28))) # zmienia indeksy na 1,2,3,...,27
# dodanie dodkowych indeksow powoduje powstanie wartosci NaN
print("Wyrazy wspolne w serii ciagow znakow i malej serii \n", np.intersect1d(seria_ciag_znakow,mala_seria)) # zwraca wartosci wspolne w obu seriach

Seria ciag znakow
 0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: string
Seria ze zmienionymi indeksami a bardziej dodany 1 dodoatkowy
 0        a
1        b
2        c
3        d
4        e
5        f
6        g
7        h
8        i
9        j
10       k
11       l
12       m
13       n
14       o
15       p
16       q
17       r
18       s
19       t
20       u
21       v
22       w
23       x
24       y
25       z
26    <NA>
27    <NA>
dtype: string
Wyrazy wspolne w serii ciagow znakow i malej serii
 ['a' 'b' 'c']

In [12]:

print("Seria uczniowie \n", uczniowie_pandas)
print("Seria oceny \n", oceny_liczbowe)
print("Seria po podstawieniu indeksow na oceny \n", uczniowie_pandas.map(oceny_liczbowe)) # podstawia indeksy z serii oceny_liczbowe do serii uczniowie_pandas
# Zasada dzialania map jest taka, że bierze wartość z lewej strony i podstawia ją do prawej strony
#Metoda map pozwala połączyć dane zapisane w dwóch seriach A i B w taki sposób że wynikiem jest seria, której indeks pochodzi z serii A, a wartości z serii B.

Seria uczniowie
 Jan          5
Anna         4
Piotr        3
Katarzyna    2
Michał       1
Ewa          5
Tomasz       4
Magdalena    3
Krzysztof    2
Agnieszka    1
dtype: int8
Seria oceny
 1      c
2      b
3      a
4     a+
5    a++
dtype: object
Seria po podstawieniu indeksow na oceny
 Jan          a++
Anna          a+
Piotr          a
Katarzyna      b
Michał         c
Ewa          a++
Tomasz        a+
Magdalena      a
Krzysztof      b
Agnieszka      c
dtype: object