ESC - wejscie do trybu dev <br>
B - 1 pusta linijka pod bieżącą ramką  &emsp; &emsp;  A - -||- nad <br>
DD - usun bieżącą linijke  <br> 
M - markdown # czyli taki tekst po prostu  &emsp;&emsp;  Y - znowu kod <br>
Shif + enter - wykonuje bieżącą linijke <br>
X - wytnij  &emsp;&emsp;   V - wklej <br>
SHIFT + M - scal komorki <br>
CTRL SHIFT + "-"  - rozdziel komórki <br>
O - output  &emsp;&emsp;   L - daj linijkom numer <br>
SHIFT + L - daj wszystkim <br>
CTRL + SHIFT + F - Menu opcji <br>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math as math
%matplotlib inline 
# To sprawia ze wykresy sa w notebooku

In [2]:
pokemony_pandas = pd.read_csv('D:\Projekty vs\Python\Pliki do pracy\course-files\course-files\pokemon.csv')
cities = ['Warszawa', 'Kraków', 'Wrocław', 'Poznań', 'Gdańsk', 'Łódź', 'Szczecin', 'Bydgoszcz', 'Lublin', 'Katowice']
slownik = {'seia3': "bmw", "q7": "audi", "c63": "mercedes", "m3": "bmw", "gti": "volkswagen", "mustang": "ford", "camaro": "chevrolet", "911": "porsche", "ferrari": "ferrari", "lamborghini": "lamborghini"}
liczby = list(range(1,11))

In [8]:
seria_z_slownika = pd.Series(list(slownik.keys()),dtype='string',index=list(slownik.values()))
seria = pd.Series(cities,dtype='string')
print(seria,"\n")
print(seria_z_slownika)
print(seria_z_slownika["bmw"])
print(seria_z_slownika.is_unique)
print(seria_z_slownika.index)
print(seria_z_slownika.values)

0     Warszawa
1       Kraków
2      Wrocław
3       Poznań
4       Gdańsk
5         Łódź
6     Szczecin
7    Bydgoszcz
8       Lublin
9     Katowice
dtype: string

bmw                  seia3
audi                    q7
mercedes               c63
bmw                     m3
volkswagen             gti
ford               mustang
chevrolet           camaro
porsche                911
ferrari            ferrari
lamborghini    lamborghini
dtype: string
bmw    seia3
bmw       m3
dtype: string
True
Index(['bmw', 'audi', 'mercedes', 'bmw', 'volkswagen', 'ford', 'chevrolet',
       'porsche', 'ferrari', 'lamborghini'],
      dtype='object')
<StringArray>
[      'seia3',          'q7',         'c63',          'm3',         'gti',
     'mustang',      'camaro',         '911',     'ferrari', 'lamborghini']
Length: 10, dtype: string

In [11]:
seria_liczby = pd.Series(liczby,dtype='int8')
print(seria_liczby)
print("Seria liczby używanie rozmiaru w senise lengh ",seria_liczby.size)
print("Seria liczby używanie rozmiaru w sensie rozmiar w bajtach ",seria_liczby.nbytes) 
print("Seria liczby rzeczywisty rozmiar ",seria_liczby.memory_usage())
print("Seria Pokemony używanie calej pamieci ",pokemony_pandas.memory_usage(deep=True).sum())
print("Seria liczby czy jest ona monotoniczna rosnąca ",seria_liczby.is_monotonic_increasing)
print("Seria liczby rodzaj danych przechowywanych ",seria_liczby.dtype)
print("Seria pokemony rodzaj danych przechowywanych ",pokemony_pandas.dtypes)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int8
Seria liczby używanie rozmiaru w senise lengh  10
Seria liczby używanie rozmiaru w sensie rozmiar w bajtach  10
Seria liczby rzeczywisty rozmiar  142
Seria Pokemony używanie calej pamieci  199393
Seria liczby czy jest ona monotoniczna rosnąca  True
Seria liczby rodzaj danych przechowywanych  int8
Seria pokemony rodzaj danych przechowywanych  #              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object